In [3]:
import pandas as pd
import numpy as np

In [4]:
ls

 Volume in drive E has no label.
 Volume Serial Number is 69C0-B1A0

 Directory of E:\Web Data Analytics\Project

07-Dec-17  01:05 AM    <DIR>          .
07-Dec-17  01:05 AM    <DIR>          ..
07-Dec-17  01:05 AM    <DIR>          .ipynb_checkpoints
05-Dec-17  06:57 PM             2,956 .Rhistory
06-Dec-17  12:37 PM             8,300 8.2_MGMT_590_Fall_2017_Google_Cloud_Natural_Language_API.ipynb
04-Dec-17  07:32 PM            46,616 AMEX.csv
05-Dec-17  06:49 PM             5,891 Company List.csv
05-Dec-17  06:55 PM           131,304 company.csv
06-Dec-17  12:15 PM            17,688 Company_list_final.csv
05-Dec-17  07:31 PM            98,080 Dropped companies.csv
06-Dec-17  02:05 PM         6,242,737 earning_calls_data_1.csv
06-Dec-17  06:44 PM           149,332 Earning_Calls_Distributed.ipynb
07-Dec-17  01:05 AM               484 Final Dataframe Origins.ipynb
05-Dec-17  12:07 PM            14,946 final project.ipynb
06-Dec-17  12:14 PM            17,688 John Analysis 2.csv
06-Dec-17  12:13 PM         1,315,867 John Analysis 2.xlsx
06-Dec-17  10:47 AM            18,593 John Analysis.csv
06-Dec-17  10:44 AM           522,342 John Analysis.xlsx
06-Dec-17  12:05 PM            19,879 Merge Stocklists.ipynb
05-Dec-17  01:49 PM           539,023 mutual funds 13-F filings.csv
05-Dec-17  10:31 PM           539,023 mutual funds 13-F.csv
04-Dec-17  06:25 PM           568,549 Mutual_Funds_companies.csv
04-Dec-17  07:31 PM           437,986 NASDAQ.csv
04-Dec-17  07:32 PM           402,146 NYSE.csv
12-Nov-17  07:01 PM            13,793 Project Ideas.docx
05-Dec-17  06:41 PM             1,925 Project Ticker code.R
06-Dec-17  12:53 PM            26,130 Sentiment Analysis.ipynb
07-Dec-17  01:05 AM            12,933 sentiment_annual.csv
06-Dec-17  01:24 AM         3,720,593 stock_closing_data.csv
06-Dec-17  11:28 AM         2,333,859 stock_closing_data_john.csv
06-Dec-17  11:25 AM            39,574 stock_price_crawler.ipynb
06-Dec-17  12:05 PM         6,054,423 stock_price_data.csv
05-Dec-17  10:36 PM            36,640 Ticker_Names.ipynb
05-Dec-17  10:34 PM            17,932 Ticker_Symbols_list.csv
05-Dec-17  12:09 PM            14,062 Untitled.ipynb
06-Dec-17  05:00 PM            98,100 Untitled1.ipynb
06-Dec-17  12:37 PM                72 Untitled2.ipynb
              34 File(s)     23,469,466 bytes
               3 Dir(s)  102,812,684,288 bytes free

In [7]:
sentimentdf = pd.read_csv('sentiment_annual.csv', index_col= 0)
sentimentdf.head(5)

,Company,Score 2013,Score 2014,Score 2015,Score 2016,Mag 2013,Mag 2014,Mag 2015,Mag 2016
0,ABMD,0.0,0.1,0.0,0.0,0.0,97.099998,0.000000,0.000000
1,ABT,0.0,0.0,0.4,0.0,0.0,0.000000,43.500000,0.000000
2,ACN,0.0,0.2,0.0,0.2,0.0,123.199997,0.000000,124.300003
3,ADM,0.0,0.0,0.2,0.0,0.0,0.000000,0.400000,0.000000
4,AET,0.0,0.0,0.1,0.0,0.0,0.000000,83.800003,0.000000